@import 'colors';
body {
  min-height: 700px;
  background-color: $yellow;
}
.home_page {
  background-color: $gray;
  .main-section {
    background-color: $white;
  }
}
strong {
  color: $red;
}
a:hover {
  background-color: $gray;
}
// container
.container {
  width: 97%;
}
.main-section {
  max-width: 800px;
  margin: auto;
}
.brand-logo {
  font-weight: bold;
  text-decoration: overline;
}
// Navigation bar
nav {
  ul {
    margin-top: 20px;
  }
}
