@import 'colors';

body {
  background-color: $gray;
  min-height: 700px;
}

strong {
  color: $red;
}

.container {
  width: 95%;
}

.main-section {
  max-width: 800px;
  margin: auto;
  background-color: $white;
}
